@import "vars";

.banner {
  background-image: url(../images/banner-bg.png);
  position: absolute;
  height: 720px;
  left: 0%;
  right: 0%;
  top: 90px;

  &__inner {
    padding: 130px 0 281px;
    position: absolute;
    height: 278px;
    left: 8.8%;
    right: 45.83%;
  }

  &__title {
    margin-bottom: 40px;
    max-width: 516px;
    font-family: $roboto;
    font-style: normal;
    font-weight: $bold-roboto;
    font-size: 36px;
    line-height: 46px;
    color: $color-green;
  }

  &__txt {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    font-style: normal;
    font-weight: $bold;
    font-size: 16px;
    line-height: 24px;
    color: $color-green;
  }

  &__descr {
    width: 403px;
    min-height: 60px;
    display: flex;
    align-items: center;
  }
  &__descr--txt {
    padding: 20px 102px 20px 20px;
    font-family: $main-font;
    font-style: normal;
    font-weight: $bold;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    background: $color-white;
    border-radius: 0px 6px 6px 0px;
  }

  &__descr--btn {
    padding: 19px 35px 17px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    background: #43806c;
    border-radius: 0px 6px 6px 0px;
  }
}
