//Fonts
$main-font: "Raleway", sans-serif;
$roboto: "Roboto", sans-serif;

//Font Weights
$regular: 400;
$bold: 700;
$bold-roboto: 700;
$extraBold: 900;

//Bg-colors
$bg-green: #43806c;

// Colors
$color-white: #fff;
$color-black: black;
$color-green: #214e41;
